.employeeForm {
  margin: 0 auto;
  max-width: 800px; /* Set the maximum width for the form */

  & .fields {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr; /* Default to one-column layout */

    /* Two-column layout for screens over 760px width */
    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  & .field__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: flex-start; /* Align items at the top of the container */
    align-items: center;
    max-width: 330px;
  }

  & .showPassword {
    margin-top: 15px;
    margin-left: -30px;
    z-index: 15;
  }

  & .btn_group {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Make the buttons take equal width (half) of the container */
    gap: 10px; /* Add some space between the buttons */
    margin-top: 10px; /* Add some space between the last field and buttons */
    justify-content: center; /* Center the buttons horizontally */

    /* Add a media query to make the buttons take full width on smaller screen sizes */
    @media (max-width: 400px) {
      grid-template-columns: 1fr; /* Single column layout */
    }
  }

  & .fileUploader__wrapper {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
  }
}

.passwordInputWrapper {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.error {
  color: var(--color-primary-hover);
  align-self: center;
  text-align: center;
  line-height: 1.5rem;
  margin-left: 0.5rem;
}
