.loading-wrapper {
  height: 100vh;
}

.addPersonnelContainer {
  margin: 0 3rem;
  transition: 1s;
  height: 100%;
}

.formWrapper {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(255, 165, 0, 0.5);
  padding: 20px;
  max-width: 900px;
  margin: 2rem auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 1rem;

  & > :first-child {
    justify-self: start;
  }
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  & p {
    font-family: monospace;
    text-align: center;
    font-size: 1rem;
  }

  & button {
    margin-top: 1rem;
    font-family: monospace;
  }
}
