.label {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: var(--font-semi-bold);
  gap: 0.5rem;
}

.checkIcon {
  display: inline-block;
  border: var(--border-primary);
  border-radius: 4px;
  color: transparent;
  cursor: pointer;

  transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: var(--color-bg-gray);
    border-color: var(--color-primary-hover);
  }

  &.disabled {
    border-color: var(--color-secondary);
    cursor: not-allowed;
  }
}

.checkBox {
  &:checked + .checkIcon {
    color: var(--color-primary);
  }

  &:focus + .checkIcon {
    border-color: var(--color-primary-hover);
    background-color: var(--color-bg-gray);
  }
}
