.item {
  position: relative;
  height: 460px;
  padding: 1rem 1rem;
  background-color: var(--color-white);
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-width: 350px;
  min-width: 320px;
  transition:
    height 0.3s ease,
    box-shadow 0.3s ease;

  &.isSmall {
    height: 115px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.topBlock {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list {
  padding: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 20px;
  height: 300px;
  transition: height 0.3s ease;

  &.isSmall {
    height: 0;
    padding: 0;
    gap: 0;
    margin: 0;
    overflow: hidden;
  }

  &.isWaiterDishesPage {
    height: 300px;
  }

  li {
    margin-top: 10px;
  }
}

.text {
  font-size: 13px;
  color: var(--color-blue-dark);

  &.isSmall {
    position: absolute;
  }
}

.total {
  color: var(--color-blue-dark);
}

.bottomBlock {
  height: 30px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &.isSmall {
    margin-top: 8px;
    flex-direction: row;
  }

  &.isWaiterDishesPage {
    margin-top: 20px;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;

  &.isSmall {
    margin-right: 0;
  }
}

.dishes {
  display: flex;
  align-items: center;
  gap: 2px;
}

.btn {
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%) rotate(180deg);
  transition: transform 0.3s ease;

  &.isSmall {
    transform: translate(-50%) rotate(0);
  }
}

.loader {
  color: var(--color-status);
  height: 100%;
}

.readyDishesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 180px;
}
