.form {
  width: 100%;
  padding: 10px 10px;
  border-radius: 30px;
  height: 100%;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  transition: all 0.6s ease;

  @media screen and (min-width: 768px) {
    padding: 50px 50px;
  }
}

.column__wrapper {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.column {
  flex: 1;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 1rem;
    }
    margin-bottom: 0;
  }
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  button {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.row__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.rowfield__wrapper {
  width: 100%;
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.field__wrapper_right {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.select__wrapper {
  position: relative;
  transition: margin-bottom 0.3s ease;
  height: 50px;
  margin-top: 0.5rem;
}
