.box {
  padding: 20px;
  position: fixed;
  z-index: 100;
  bottom: -110px;
  left: 0;
  height: 110px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: var(--color-green-accent);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  transition: bottom 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &.isOpen {
    bottom: 0;
  }
}

.checkoutBtn {
  width: 95%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);

  font-size: 13px;
  @media screen and (min-width: 385.98px) {
    font-size: 18px;
  }

  transition: top 500ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &.isShown {
    top: -45px;
    @media screen and (min-width: 385.98px) {
      top: -50px;
    }
    &.isOpen {
      width: 80px;
      top: -49px;
    }
  }
}

.btnsBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  gap: 10px;
}

.btn {
  height: 48px;
  width: 150px;
}

.btnSelected {
  font-size: 0.8rem;
}

.text {
  color: var(--color-blue-dark);
}

.descBtn {
  padding-top: 40px;
  display: grid;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  color: var(--color-status);
  height: 100%;
}
