.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  padding: 8px 12px;
  border: var(--border-primary);
  border-radius: 10px;
  background-color: var(--color-white);
  cursor: pointer;
}

.dropdown-list {
  position: absolute;
  z-index: 10;
  top: 105%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  border: var(--border-primary);
  border-radius: 10px;
  background-color: #fff;
}

.icon {
  color: var(--color-primary);
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-green-accent);
  }
}
