.table {
  width: 230px;
  height: 310px;
  background-color: #fdfcfc;
  border: dashed 1px rgb(212, 211, 211);
  border-radius: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  box-shadow: 10px 10px 25px -24px rgba(0, 0, 0, 0.52);

  &_Waiting {
    animation: pulse 2s infinite alternate;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__favorites {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__number {
    display: flex;
    padding: 0.3rem 0.2rem;
    border-radius: 5px;
    gap: 0.3rem;
  }

  &__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mainBlock {
    flex: 1 1 auto;
  }

  &__emptyState {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__orders_box {
    display: flex;
  }

  &__orders_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  &__order_open {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
  }

  &__order_paid {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
    &:first-child {
      padding-top: 0.5rem;
    }
  }

  &__orders_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
  }

  &__dishes_box {
    display: flex;
  }

  &__dishes_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  &__dishes_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
  }

  &__dishes_notReady {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
  }

  &__dishes_ready {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5rem;
    &:first-child {
      padding-top: 0.5rem;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  &__btn_view_div {
    margin-bottom: 1rem;
  }

  &__btn_view {
    display: block;
    width: 100%;
  }

  &__seats {
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    border-radius: 5px;
    gap: 0.3rem;
  }

  &__bot {
    display: flex;
    justify-content: space-between;
  }

  .line {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent 50%, rgb(212, 211, 211) 50%);
    background-size: 5px 1px;
    background-repeat: repeat-x;
  }
}

@media (min-width: 992px) {
  .table {
    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 10px 12px 40px -24px rgba(0, 0, 0, 0.52);
    }
  }
}

@keyframes pulse {
  0% {
    background-color: var(--color-bg);
  }
  100% {
    background-color: rgb(255, 198, 198);
  }
}

%status {
  display: inline-block;
  padding: 2px 5px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  color: white;
  border-radius: 30px;
  min-width: 70px;
  margin-right: 15px;
  cursor: context-menu;
}

.unpaid {
  background-color: #eb966a;
  @extend %status;
}

.paid {
  background-color: #72daba;
  @extend %status;
}

.notReady {
  background-color: #9c9afe;
  @extend %status;
}

.ready {
  background-color: orange;
  @extend %status;
}

.disable {
  background-color: var(--color-gray-400);
  @extend %status;
}
