.field__wrapper {
  position: relative;
  transition: margin-bottom 0.3s ease;
  height: 50px;
  margin-top: 0.5rem;
}

.input__wrapper {
  position: relative;

  &:hover > .icon__wrapper {
    color: var(--color-primary-hover);
  }
}

.icon__wrapper {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  color: var(--color-primary);
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.error__wrapper {
  position: relative;
  margin-top: 0.5rem;
}
