:root {
  --color-blue-dark: #373646;
  --color-blue: #69a6ce;
  --color-red: #dd5959;
  --color-red-transparent: #eb8175;
  --color-green-transparent: #dce8c6;
  --color-green-accent: rgb(99, 183, 16, 0.2);
  --color-primary: #789940;
  --color-primary: rgb(138, 176, 71);
  --color-primary-hover: #688b2c;
  --color-primary-focus: #688b2c;
  --color-bg-gray: #e5e6e4;
  --color-yellow: #eab012;
  --color-green: #3bb77e;
  --color-white: #fff;
  --color-gray: #959895;
  --color-secondary: #959895;
  --color-gray-dark: #343a40;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #f6f7f8;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #959895;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;
  --color-font: #3a3a3a;
  --color-bg: #fafaf9;
  --color-bg-dark: #e5e6e4;
  --color-status: rgb(235, 150, 106);
  --color-success: #3bb77e;
  --color-danger: #ea1212;
  --color-light: #dee2e6;
  --color-dark: #212529;
  --color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --font-family: 'Montserrat', sans-serif;
  --font-size: 1rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --line-height: 1.75;
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15);
  --md-pc: 1200px;
  --md-tablet: 991.98px;
  --md-mobile: 767.98px;
  --md-mobile-small: 479.98px;
  --border-primary: 2px solid var(--color-primary);
}
